.MMM-Keyboard .keyboardWrapper {
  width: 650px;
  margin: auto;
  text-align: center;
  z-index: 20;

}

.MMM-Keyboard .kbContainer {
  position: relative;
  opacity: 0;
  margin-top: -200%;
  transition: margin-top 0.8s ease-in-out, opacity 0.3s;
}

.MMM-Keyboard .kbButton {
  height: 75px;
  font-size: 70px;
  width: 100px;
  margin: auto auto;
}

.MMM-Keyboard #inputDiv {
  display: none;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
}

.MMM-Keyboard .show-keyboard #inputDiv {
  display: flex;
}

.MMM-Keyboard #kbInput {
  width: 390px;
  font-size: 26px;
  padding: 20px 20px;
  box-sizing: border-box;
  background-color: black;
  border: 4px solid white;
  border-radius: 8px;
  resize: none;
  color: white;
  overflow-y: auto;
  max-height: 80px;
  font-family: inherit;
}

.MMM-Keyboard #kbInput::-webkit-scrollbar {
  width: 8px;
}

.MMM-Keyboard #kbInput::-webkit-scrollbar-track {
  background: #222;
}

.MMM-Keyboard #kbInput::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 4px;
}

.MMM-Keyboard textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.MMM-Keyboard .sendButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000044;
  border: 4px solid white;
  border-radius: 8px;
  color: white;
  font-size: 26px;
  padding: 20px 20px;
  text-decoration: none;
  cursor: pointer;
  min-width: 60px;
}

.MMM-Keyboard .closeButton {
  position: absolute;
  top: 0;
  right: 10px;
  background-color: #333;
  border: 2px solid #666;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  width: 36px;
  height: 36px;
  padding: 0;
  cursor: pointer;
  line-height: 32px;
  text-align: center;
}

.MMM-Keyboard .closeButton:hover,
.MMM-Keyboard .closeButton:focus {
  background-color: #555;
}

.MMM-Keyboard {
  margin: 100px auto;
}

.MMM-Keyboard .simple-keyboard {

}

.MMM-Keyboard .show-keyboard {
  opacity: 1;
  margin-top: 0;
}

.MMM-Keyboard .hg-theme-default {
  padding: 10px;
  background-color: black;
}

.MMM-Keyboard .hg-theme-default .hg-row {
  justify-content: center;
}

.MMM-Keyboard .hg-theme-default .hg-button {
  height: 50px;
  background-color: #333;
  color: #fff;
  font-size: 0.7em;
  padding: 8px;
  margin: 1px;
}

.MMM-Keyboard .hg-theme-default .hg-button.hg-standardBtn{
  min-width: 45px;
  max-width: 45px;
}

.MMM-Keyboard .hg-theme-default .specialButton {
  min-width: 60px;
  max-width: 150px;
  color: #aaa;
}

.MMM-Keyboard .hg-theme-default .emptyButton {
  background-color: #222;
}
